@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  padding: 0;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  max-width: 1000px;
  margin: 0 auto;
}
h2 {
  font-weight: normal;
  font-size: 2rem;
  margin: 0;
}
h3 {
  margin: 0.5rem 0;
}
span, button, input {
  font-size: 1rem;
}
button {
  text-align: center;
  background-color: #b7c9fe;
  border: 1px solid #535a71;
}
ul {
  margin: 0;
  padding: 0;
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  margin: 20px;
}

#search input {
  width: 100%;
  background-color: #f5f5f5;
  line-height: 1.3rem;
  border: 1px solid #6c6c6c;
  padding: 0.2rem;
  color: #101010;
  box-sizing: border-box;
}

#upload {
  text-align: right;
}
#upload button {
  width: 100px;
  line-height: 1.3rem;
  text-transform: uppercase;
}

#documents {
  grid-column: 1 / 3;
  margin-top: 20px;
}
#documents > div {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
}
#documents ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
}
#documents ul li {
  width: 300px;
  margin: 10px;
  border: 1px solid #a0a0a0;
  padding: 1rem;
  box-sizing: border-box;
}
#documents ul li button {
  padding: 0 1rem;
  float: right;
}

@media only screen and ( max-device-width: 736px ) {
  #upload { order: 1; grid-column: 1 / 3; }
  #search { order: 2; grid-column: 1 / 3; }
  #documents { order: 3 }
  #upload button { width: 100%; }
  #documents > div { display: block; }
  section { margin-top: 0.3rem; }
  #documents ul {}
  #documents ul li {
    width: 100%;
    margin: 10px 0 0 0;
  }
}